<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h2>Edit Caption</h2>
<form method="POST" action="/posts/<%= post.id %>?_method=PATCH">
    <textarea rows="10" cols="30" name="caption"><%= post.caption %></textarea>
    <button>Update</button>
</form>
</body>
</html>