<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <h2>Create Instagram Post</h2>
<form method="POST" action="/posts" enctype="multipart/form-data">
    <input type="text" name="username" placeholder="Username" required /><br><br>
    <input type="file" name="image" required /><br><br>
    <textarea name="caption" placeholder="Write a caption..."></textarea><br><br>
    <button>Upload Post</button>
</form>
</body>
</html>